html {
    color: #313131;
    background-color: #E9DED4;
}

body, header {
    width: 100%;
    position: absolute;
    max-width: 1920px;
    height: auto;
}

.background {
    background-color: #E9DED4;
}

.red-text {
    color: #F54932;
}

*.no {
    display: none;
}

    /* Fonts */

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.golos-text-little {
    font-family: "Golos Text", serif;
    font-weight: 400;
    font-style: normal;
}

.golos-text-normal {
    font-family: "Golos Text", serif;
    font-weight: 500;
    font-style: normal;
}

.golos-text-little-bold {
    font-family: "Golos Text", serif;
    font-weight: 600;
    font-style: normal;
}

.golos-text-bold {
    font-family: "Golos Text", serif;
    font-weight: 700;
    font-style: normal;
}


    /* Header */


.head {
    width: auto;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 245.17px;
    height: 36px;
    /* left: 349px; */
    left: 18.18%;
    top: 26px;
}

.logo-img {
    position: absolute;
    width: 91.82px;
    height: 31.18px;
    /* left: 18.18%; */
    top: 28.31px;
}

.logo-span {
    position: absolute;
    width: 147px;
    height: 36px;
    top: 26px;
    font-size: 16.6513px;
    line-height: 108%;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #595653;
    left: 98.17px;
}

.head-img {
    position: absolute;
    width: 100%;
    height: 881px;
    top: -123px;
    overflow: hidden;
}

.head-chess {
    position: absolute;
    width: 1627px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center;
}

.head-roughness {
    position: absolute;
    width: 1920px;
    height: auto;
    mix-blend-mode: color-burn;
    pointer-events: none;
}

.content {
    width: 542px;
    height: 444px;
    left: 18.15%;
    top: 124px;
    position: absolute;
}

.headline {
    width: 542px;
    height: 264px;
    position: absolute;
}

.headline-span-1, .headline-span-2, .headline-span-3 {
    position: absolute;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 66px;
    word-wrap: break-word;
}

.headline-span-1 {
    width: 542px;
}

.headline-span-2 {
    left: 22.89%;
    top: 132px;
    text-align: right;
}

.headline-span-3 {
    width: 542px;
    top: 198px;
    text-align: right;
}

.btns {
    width: 542px;
    top: 374px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.button-1 {
    flex: 1 1 0;
    padding: 20px;
    background: #1F1F1F;
    border-radius: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: white;
}

.button-2 {
    flex: 1 1 0;
    padding: 20px;
    border-radius: 66px;
    border: 2px #1F1F1F solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: #1F1F1F;
}

.button-1 span, .button-2 span {
    width: 165px;
    text-align: center;
    font-size: 16px;
    line-height: 20.80px;
    word-wrap: break-word;
    pointer-events: none;
}

.title-description {
    position: absolute;
    width: 542px;
    height: 46px;
    top: 288px;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
}


    /* Running line */


.running-line-wrapper {
    width: 1920px;
    height: 60px;
    background: #F54932;
    overflow: hidden;
    position: relative;
}

.running-line {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    position: absolute;
    height: 60px;
    animation: slide 20s linear infinite;
}

.upper-line {
    top: 0;
}

.running-line:nth-child(2) {
    left: 2335px;
}

.running-line span {
    text-align: right;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 24.20px;
}

.point {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 9999px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-2335px);
    }
}


    /* Body */


.body {
    background-color: white;
    height: 3400px;
}

/* Contents 1 and 2 */

.content-1 {
    width: 1222px;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    top: 840px;
    position: absolute;
}

.header-content-1 {
    width: 764px;
    height: 195.43px;
    left: 0px;
    top: 26.92px;
}

.image-content-1 {
    width: 394px;
    height: 250px;
    left: 828px;
    top: 0px;
    position: absolute;
}

.content-2 {
    position: absolute;
    width: 1249.5px;
    height: 670.21px;
    top: 1107px;
    left: 50%;
    transform: translateX(-50%);
}

.header-content-2 {
    width: 704px;
    left: 545.50px;
    top: 47px;
    position: absolute;
}

.span-1-content-1, .span-2-content-1, .span-3-content-1, .header-content-2 span {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 48.60px;
    word-wrap: break-word;
}

.table {
    width: 704px;
    height: 248px;
    left: 545.50px;
    top: 254px;
    position: absolute;
}

.table-titles, .table-descriptions {
    height: 248px;
    position: absolute;
}

.table-titles {
    width: 290px;
}

.table-descriptions {
    width: 382px;
    left: 322px;
}

.table-titles span, .table-descriptions span, .note-content-2 {
    position: absolute;
    font-size: 20px;
    line-height: 24px;
    word-wrap: break-word;
}

.table-titles span {
    opacity: 0.70;
}

.table-title-2, .table-description-2 {
    top: 56px;
    position: absolute;
}

.table-title-3, .table-description-3 {
    top: 112px;
}

.table-title-4, .table-description-4 {
    top: 168px;
}

.table-title-5, .table-description-5, .last-table-description-5 {
    top: 224px;
}

.table-description-5 {
    left: 94px;
}

.note-content-2 {
    left: 545.50px;
    top: 550px;
    color: #3057A2;
}

.image-content-2 {
    width: 528.99px;
    height: 670.21px;
    position: absolute;
    overflow: hidden;
}

.image-1-content-2 {
    width: 528.99px;
    height: 651.03px;
    top: 19.19px;
    position: absolute;
}

.roughness-content-2 {
    width: 609px;
    height: 528px;
    mix-blend-mode:color-burn;
    transform: rotate(-90deg);
    position: absolute;
    left: calc(50% - 609px/2 - 333.5px);
    top: 1126.19px;
    mix-blend-mode: color-burn;
    pointer-events: none;
}

.table-vectors {
    width: 704px;
    height: 248px;
    position: absolute;
}

.horizontal-vectors {
    height: 168px;
    top: 40px;
    position: absolute;
}

.horizontal-vectors svg {
    width: 704px;
    border: 2px #D0D0D0 solid;
    position: absolute;
    left: 0px;
    height: 0px;
}

.horizontal-vector-2 {
    top: 56px;
}

.horizontal-vector-3 {
    top: 112px;
}

.horizontal-vector-4 {
    top: 168px;
}

.red-vector {
    width: 81px;
    height: 0px;
    left: 320.50px;
    top: 238.50px;
    position: absolute;
    border: 2px #F54932 solid;
}

.vertical-vector {
    width: 0px;
    height: 248px;
    left: 306px;
    position: absolute;
    border: 2px #D0D0D0 solid;
}

/* Content 3 */

.content-3 {
    position: absolute;
    width: 1284.36px;
    height: 585.91px;
    top: 1881px;
    left: 50%;
    transform: translateX(-50%);
}

.header-content-3 {
    width: 806px;
    position: absolute;
    font-size: 54px;
    text-transform: uppercase;
    line-height: 64.80px;
    word-wrap: break-word;
}

.subtitle-content-3 {
    width: 280px;
    left: 301px;
    top: 72px;
    position: absolute;
    color: #3057A2;
    font-size: 20px;
    line-height: 24px;
    word-wrap: break-word;
}

.content-3-1, .content-3-2, .content-3-3, .content-3-4, .content-3-5, .content-3-6, .content-3-7 {
    position: absolute;
    overflow: hidden;
}

.content-3-1 {
    width: 394px;
    height: 112px;
    top: 184px;
}

.content-3-2 {
    width: 394px;
    height: 112px;
    left: 414px;
    top: 184px;
}

.content-3-3 {
    width: 394px;
    height: 244px;
    left: 828px;
    top: 184px;
}

.content-3-4 {
    width: 394px;
    height: 112px;
    top: 316px;
}   

.content-3-5 {
    width: 394px;
    height: 112px;
    left: 414px;
    top: 316px;
}

.content-3-6 {
    width: 394px;
    height: 136px;
    top: 448px;
    background: #D9D9D9;
}

.content-3-7 {
    width: 808px;
    height: 136px;
    left: 414px;
    top: 448px;
    background: #D9D9D9;
}

.numbers-content-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 20px;
    top: 20px;
    background: #FFFFFF;
    border-radius: 60px;
}

.numbers-content-3 div {
    font-size: 20px;
    line-height: 24px;
    word-wrap: break-word;
}

.content-3-1 span, .content-3-2 span, .content-3-3 span, .content-3-4 span, .content-3-5 span, .content-3-6 span, .content-3-7 span {
    left: 72px;
    top: 20px;
    position: absolute;
    font-size: 20px;
    line-height: 24px;
    word-wrap: break-word;
}

.content-3-1 span, .content-3-2 span, .content-3-3 span, .content-3-4 span, .content-3-5 span, .content-3-6 span {
    width: 302px;
}

.content-3-7 span {
    width: 446px;
}

.background-content-3-1, .background-content-3-2, .background-content-3-3, .background-content-3-4, .background-content-3-5, .background-content-3-6, .background-content-3-7 {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    opacity: 0.80;
    box-shadow: 5px 4px 12.699999809265137px rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

.background-content-3-1 {
    width: 357px;
    height: 704px;
    left: -32px;
    top: 290px;
    background: url(../img/body/content-3/background\(1\,4\).png);
}

.background-content-3-2 {
    width: 350px;
    height: 690px;
    left: -273px;
    top: 287px;
    background: url(../img/body/content-3/background\(2\,3\,5\).png);
}

.background-content-3-3 {
    width: 350px;
    height: 690px;
    left: -256px;
    top: 301.29px;
    background: url(../img/body/content-3/background\(2\,3\,5\).png);
}

.background-content-3-4 {
    width: 357px;
    height: 704px;
    left: -129px;
    top: 282px;
    background: url(../img/body/content-3/background\(1\,4\).png);
}

.background-content-3-5 {
    width: 350px;
    height: 690px;
    left: -113px;
    top: 219px;
    background: url(../img/body/content-3/background\(2\,3\,5\).png);
}

.background-content-3-6 {
    width: 448px;
    height: 886px;
    left: -98px;
    top: 349px;
    background: url(../img/body/content-3/background\(6\,7\).png);
}

.background-content-3-7 {
    width: 448px;
    height: 886px;
    left: -23px;
    top: 349px;
    background: url(../img/body/content-3/background\(6\,7\).png);
}

.roughness-content-3-1, .roughness-content-3-2, .roughness-content-3-3, .roughness-content-3-4, .roughness-content-3-5, .roughness-content-3-6, .roughness-content-3-7 {
    top: -106px;
    position: absolute;
    mix-blend-mode: color-burn;
    pointer-events: none;
}

.roughness-content-3-1, .roughness-content-3-2, .roughness-content-3-3, .roughness-content-3-4, .roughness-content-3-5 {
    width: 1066px;
    height: 489px;
    left: -242px;
    background-image: url(../img/body/content-3/roughness\(1\,2\,3\,4\,5\,7\).png);
}

.roughness-content-3-6 {
    width: 864px;
    height: 396px;
    left: -300px;
    background-image: url(../img/body/content-3/roughness\(6\).png);
}

.roughness-content-3-7 {
    width: 1066px;
    height: 489px;
    left: -225px;
    background-image: url(../img/body/content-3/roughness\(1\,2\,3\,4\,5\,7\).png);
}

.image-content-3 {
    width: 374.80px;
    left: 921px;
    top: 354px;
    position: absolute;
    transform-origin: 0 0;
}

.buttons-content-3 {
    display: none;
    left: 21.07%;
    top: 652px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.prev-button-content-3, .next-button-content-3 {
    display: none;
    width: 36px;
    height: 36px;
    position: relative;
}

.counter-content-3 {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 6px;
    display: flex
}   

.counter-content-3 svg {
    display: none;
}

.counter-content-3-active {
    display: none;
    width: 10px;
    height: 10px;
    background: #313131;
    border-radius: 9999px;
}

.counter-content-3-non-active {
    display: none;
    width: 10px;
    height: 10px;
    background: #D9D9D9;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Content 4 */



.content-4 {
    width: 1222px;
    position: absolute;
    height: 600px;
    top: 2665px;
    left: 50%;
    transform: translateX(-50%);
}

.header-content-4 {
    font-size: 54px;
    text-transform: uppercase;
    line-height: 64.80px;
}

.buttons-content-4 {
    width: 151px;
    left: 1063px;
    top: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 14px;
    display: inline-flex;
    flex-direction: row;
}

.prev-button, .next-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}

.counter span {
    font-size: 16px;
    line-height: 120%;
}

.carousel-participants {
    display: flex;
    transition: transform 0.5s ease-in-out;
    top: 62.5px;
    position: relative;
}

.participants {
    width: 394px;
    height: auto;
    margin-right: 20px;
    flex: 0 0 auto;
    display: none;
}

.participants.active {
    display: block;
}

.avatar {
    width: 320px;
    height: 320px;
    background: #424241;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.names-participants {
    font-size: 24px;
    line-height: 28.80px;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.achievements-participants {
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    opacity: 0.60;
    display: block;
    margin-top: 10px;
}

.more-detailed-practicant {
    text-align: center;
    display: block;
    padding: 12px;
    border-radius: 62px;
    border: 1px #3057A2 solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 17px;
    margin-left: calc(50% - 113px/2 + 0.5px);
    margin-right: calc(50% - 113px/2 + 0.5px);
}

.more-detailed-practicant span {
    color: #3057A2;
    font-size: 16px;
    line-height: 19.20px;
    pointer-events: none;
}


        /* Running line */
    
    
.running-line-wrapper-lower {
    width: 1920px;
    height: 60px;
    background: #F54932;
    overflow: hidden;
    position: relative;
    top: 2600px;
}

.running-line-lower {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    position: absolute;
    height: 60px;
    animation: slide 20s linear infinite;
}

.running-line-lower:nth-child(2) {
    left: 2335px;
}

.running-line-lower span {
    text-align: right;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 24.20px;
}

.point-lower {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 9999px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-2335px);
    }
}

    /* Footer */

.footer {
    width: 100%;
    height: 150px;
    top: 3452px;
    position: absolute;
}

.footer span {
    max-width: 1222px;
    width: auto;
    left: 18.18%;
    top: 40px;
    position: absolute;
    opacity: 0.60;
    font-size: 16px;
    line-height: 19.20px;
    word-wrap: break-word;
}
