html, body, header, main, footer {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    background-color: #E9DED4;
}

.red-text {
    color: #F54932;
}

    /* Fonts */

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.golos-text-little {
    font-family: "Golos Text", serif;
    font-weight: 400;
    font-style: normal;
}

.golos-text-normal {
    font-family: "Golos Text", serif;
    font-weight: 500;
    font-style: normal;
}

.golos-text-little-bold {
    font-family: "Golos Text", serif;
    font-weight: 600;
    font-style: normal;
}

.golos-text-bold {
    font-family: "Golos Text", serif;
    font-weight: 700;
    font-style: normal;
}


    /* Header */


.head {
    height: 43.75rem;
    position: relative;
    overflow: hidden;
    display: flex;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    left: 18.18%;
    top: 3.71%;
    width: 15.32rem;
    height: 2.25rem;
}

.logo-img {
    width: 37.45%;
    margin-right: 4%;
}

.logo-span {
    font-size: 1rem;
    line-height: 1.08;
    text-transform: uppercase;
    color: #595653;
    flex-direction: column;
    white-space: pre-line;
}

.logo-span::after {
    content: "четырех коней";
    display: block;
}

.head-img {
    position: absolute;
    width: 100%;
    height: 125.86%;
    top: -17.57%;
    overflow: hidden;
}

.head-chess {
    position: absolute;
    width: 101.6875rem;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center;
}

.head-roughness {
    mix-blend-mode: color-burn;
    pointer-events: none;
}

.content {
    height: 63.43%;
    left: 18.15%;
    top: 17.71%;
    position: absolute;
    max-width: 33.875rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headline {
    margin-bottom: 7.38%;
}

.headline-span-1, .headline-span-2, .headline-span-3 {
    text-transform: uppercase;
    word-wrap: break-word;
    display: block;
    font-size: 3.75rem;
    line-height: 1.1;
}

.headline-span-2, .headline-span-3 {
    text-align: right;
}

.title-description {
    margin-bottom: 1.85%;
    font-size: 1.125rem;
    line-height: 1.3;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 4.5%;
}

.buttons {
    padding: 1.25rem;
    border-radius: 4.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16.43rem;
    height: 4.5rem;
}

.buttons:first-child {
    background: #1F1F1F;
    color: white;
}

.buttons:last-child {
    border: 2px #1F1F1F solid;
    color: #1F1F1F;
    background-color: rgba(0, 0, 0, 0.0);
}

.buttons span {
    text-align: center;
    font-size: 1rem;
    line-height: 1.3;
    word-wrap: break-word;
    pointer-events: none;   
}

.buttons:first-child:hover {
    background-color: #FBCE51;
    color: black;
    border: 0px #FBCE51;
}

.buttons:last-child:hover {
    background-color: #1F1F1F;
    color: white;
}

.head-chess-mobile {
    display: none;
}


    /* Running line */


.running-line-wrapper {
    height: 4.5%;
    background: #F54932;
    overflow: hidden;
    position: relative;
}

.running-line {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    white-space: nowrap;
    position: absolute;
    height: 100%;
    animation: slide 20s linear infinite;
}

.upper-line {
    top: 0;
}

.running-line:nth-child(2) {
    left: 121.61%;
}

.running-line span {
    text-align: right;
    color: white;
    font-size: 1.375rem;
    text-transform: uppercase;
    line-height: 1.5125rem;
}

.point {
    display: inline-block;
    width: 0.375rem;
    height: 0.375rem;
    background: white;
    border-radius: 50%;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-145.9375rem);
    }
}


    /* Body */


/* Contents 1 and 2 */

.content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.17%;
    box-sizing: border-box;

    max-width: 100%;
}

.header-content-1 {
    flex: 1;
    max-width: calc(24.625rem * 1.94)
}

.image-content-1 {
    width: 24.625rem;
    height: 15.625rem;
}

.content-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3.33% auto 10.42% auto;
}

.content-content-2 {
    flex: 1 1 60%;
    flex-direction: column;
    max-width: calc(33.06rem * 1.33);
}

.header-content-2 {
    margin-top: 2%;
}

.span-1-content-1, .span-2-content-1, .span-3-content-1, .header-content-2 span {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.35;
    word-wrap: break-word;
}

.table {
    border-collapse: collapse;
    table-layout: auto;
    margin: 8.95% 0 7.16% 0;
}

.table td {
    padding: 2.39% 0;
}

.table tr:first-child td {
    padding-top: 0;
}

.table tr:last-child td {
    padding-bottom: 0;
}

.table tr:not(:last-child) {
    border-bottom: 0.125rem #D0D0D0 solid;
    white-space: nowrap;
}

.table td:nth-child(1) {
    padding-right: 1rem;
    opacity: 0.70;
}

.table td:nth-child(2) {
    padding-left: 1rem;
}

.table td + td {
    border-left: 0.125rem #D0D0D0 solid;
    width: 100%;
}

.table span {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 0.125rem;
    margin-right: 0.875rem;
}

.table td, .note-content-2 {
    font-size: 1.25rem;
    line-height: 1.2;
    word-wrap: break-word;
}

.note-content-2 {
    color: #3057A2;
}

.image-content-2 {
    width: 33.06rem;
    height: 41.89rem;
    overflow: hidden;
}

.image-1-content-2 {
    height: 40.69rem;
}

.roughness-content-2 {
    width: 38.0625rem;
    height: 33rem;
    mix-blend-mode: color-burn;
    transform: rotate(-90deg);
    position: absolute;
    left: calc(50% - 38.0625rem/2 - 20.84375rem);
    top: 70.386875rem;
    mix-blend-mode: color-burn;
    pointer-events: none;
}

/* Content 3 */

.content-3 {
    max-width: calc(24.425rem * 3.43);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-content-3 {
    max-width: 60%;
    font-size: 3.375rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.subtitle-content-3 {
    max-width: 20%;
    color: #3057A2;
    font-size: 1.25rem;
    line-height: 1.2;
    margin: 3.98% 0 0 17.54%;
    position: absolute;
}

.carusel-content-3 {
    margin-top: 4.03%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;    
    width: 96.54%;
}

.contents-3 {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    flex: 1 1 calc(33.33% - 2.5rem);
    height: 7rem;
}

.contents-3:nth-child(3) {
    height: 15.25rem; 
}

.contents-3:nth-child(4), .contents-3:nth-child(5) {
    margin-top: -10.2%;
    max-width: 32.51%;
}

.contents-3:nth-child(6) {
    height: 8.5rem;
    display: flex;
    margin-left: -67.46%;
}

.contents-3:nth-child(7) {
    height: 8.5rem;
    flex: 1 1 calc(66.67% - 1.5rem);
}

.numbers-content-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    background: #FFFFFF;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 1.2;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
}

.contents-3 span {
    position: absolute;
    margin: 3.83% 0 0 17.23%;
    font-size: 1.25rem;
    line-height: 1.5rem;
    word-wrap: break-word;
    max-width: 72.34%;
}

.contents-3:last-child span {
    max-width: 48.1%;    
    margin: 1.85% 0 0 8.33%;
}

.background-contents-3 {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    opacity: 0.80;
    box-shadow: 0.3125rem 0.25rem 0.793749988rem rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

.background-contents-3:nth-child(1) {
    width: 22.3125rem;
    height: 44rem;
    margin-left: -2rem;
    margin-top: 18.125rem;
    background: url(../img/body/content-3/background\(1\,4\).png);
}

.background-contents-3:nth-child(2) {
    width: 21.875rem;
    height: 43.125rem;
    left: -16.7rem;
    top: 17.9375rem;
    background: url(../img/body/content-3/background\(2\,3\,5\).png);
}

.background-contents-3:nth-child(3) {
    width: 21.875rem;
    height: 43.125rem;
    margin-left: -16rem;
    margin-top: 18.830625rem;
    background: url(../img/body/content-3/background\(2\,3\,5\).png);
}

.background-contents-3:nth-child(4) {
    width: 22.3125rem;
    height: 44rem;
    margin-left: -8.0625rem;
    margin-top: 17.625rem;
    background: url(../img/body/content-3/background\(1\,4\).png);
}

.background-contents-3:nth-child(5) {
    width: 21.875rem;
    height: 43.125rem;
    margin-left: -7.0625rem;
    margin-top: 13.6875rem;
    background: url(../img/body/content-3/background\(2\,3\,5\).png);
}

.background-contents-3:nth-child(6) {
    width: 34.46rem;
    height: 55.375rem;
    margin-left: -6.125rem;
    margin-top: 21.8125rem;
    background: url(../img/body/content-3/background\(6\,7\).png);
}

.background-contents-3:nth-child(1) {
    width: 28rem;
    height: 55.375rem;
    margin-left: -1.2rem;
    margin-top: 21.8125rem;
    background: url(../img/body/content-3/background\(6\,7\).png);
}

.roughness-contents-3 {
    margin-top: -6.625rem;
    position: absolute;
    mix-blend-mode: color-burn;
    pointer-events: none;
    overflow: hidden;
}

.roughness-contents-3:nth-child(-n+5) {
    width: 66.625rem;
    height: 30.5625rem;
    left: -15.125rem;
    background-image: url(../img/body/content-3/roughness\(1\,2\,3\,4\,5\,7\).png);
}

.roughness-contents-3:nth-child(6){
    width: 54rem;
    height: 24.75rem;
    margin-left: -18.75rem;
    background-image: url(../img/body/content-3/roughness\(6\).png);
}

.roughness-contents-3:nth-child(7) {
    width: 66.625rem;
    height: 30.5625rem;
    margin-left: -14.0625rem;
    background-image: url(../img/body/content-3/roughness\(1\,2\,3\,4\,5\,7\).png);
}

.image-content-3 {
    width: 23.425rem;
    margin-left: 57.5625rem;
    margin-top: 22.125rem;
    position: absolute;
    transform-origin: 0 0;
}

.buttons-content-3 {
    display: none;
}

.counter-content-3-active {
    width: 10px;
    height: 10px;
    background: #313131;
    border-radius: 9999px;
}

.counter-content-3-non-active {
    width: 10px;
    height: 10px;
    background: #D9D9D9;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Content 4 */

/*
.content-4 {
    width: 1222px;
    position: absolute;
    height: 600px;
    top: 2665px;
    left: 50%;
    transform: translateX(-50%);
}

.header-content-4 {
    font-size: 54px;
    text-transform: uppercase;
    line-height: 64.80px;
}

.buttons-content-4 {
    width: 151px;
    left: 1063px;
    top: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 14px;
    display: inline-flex;
    flex-direction: row;
}

.prev-button, .next-button, .prev-button-content-3, .next-button-content-3 {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}

.prev-button svg, .next-button svg, .prev-button-content-3 svg, .next-button-content-3 svg {
    fill: #313131;
}

.prev-button:disabled svg, .next-button:disabled svg, .prev-button-content-3:disabled svg, .next-button-content-3:disabled svg {
    fill: #D6D6D6;
    cursor: default;
}

.prev-button:not(:disabled):hover svg, .next-button:not(:disabled):hover svg, .prev-button-content-3:not(:disabled):hover svg, .next-button-content-3:not(:disabled):hover svg {
    fill: #FBCE51;
}

.counter span {
    font-size: 16px;
    line-height: 120%;
}

.carousel-participants {
    display: flex;
    transition: transform 0.5s ease-in-out;
    top: 62.5px;
    position: relative;
}

.participants {
    width: 394px;
    height: auto;
    margin-right: 20px;
    flex: 0 0 auto;
    display: none;
}

.participants.active {
    display: block;
}

.avatar {
    width: 320px;
    height: 320px;
    background: #424241;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.names-participants {
    font-size: 24px;
    line-height: 28.80px;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.achievements-participants {
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    opacity: 0.60;
    display: block;
    margin-top: 10px;
}

.more-detailed-practicant {
    text-align: center;
    display: block;
    padding: 12px;
    border-radius: 62px;
    border: 1px #3057A2 solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 17px;
    margin-left: calc(50% - 113px/2 + 0.5px);
    margin-right: calc(50% - 113px/2 + 0.5px);
    text-decoration: none;
}

.more-detailed-practicant span {
    color: #3057A2;
    font-size: 16px;
    line-height: 19.20px;
    pointer-events: none;
}
*/

.content-4 {
    max-width: 76.375rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.head-content-4 {
    display: flex;
    justify-content: space-between;
}

.header-content-4 {
    font-size: 3.375rem;
    text-transform: uppercase;
    line-height: 4.05rem;
}

.buttons-content-4 {
    width: 9.4375rem;
    display: flex;
    gap: 0.875rem;
}

.prev-button, .next-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
}

.icon {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    background-color: #313131;
    border-radius: 50%;
    position: relative;
}

.prev-icon::before, .next-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5rem;
    height: 1rem;
    background-color: white;
    transform-origin: center;
    transform: translate(-50%, -50%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.next-icon::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

.prev-button:disabled .icon, .next-button:disabled .icon {
    background-color: #D6D6D6;
    cursor: default;
}

.prev-button:not(:disabled):hover .icon, .next-button:not(:disabled):hover .icon {
    background-color: #FBCE51;
}

.counter span {
    font-size: 1rem;
    line-height: 1.2;
}

.carousel-participants {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.participants {
    width: 24.625rem;
    flex: 0 0 auto;
    display: none; /* Скрываем по умолчанию */
}

.participants.active {
    display: block; /* Отображаем только активные элементы */
}

.avatar {
    width: 20rem;
    height: 20rem;
    background: #424241;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.names-participants {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    display: block;
    margin-top: 1.25rem;
}

.achievements-participants {
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    opacity: 0.60;
    display: block;
    margin-top: 0.625rem;
}

.more-detailed-practicant {
    text-align: center;
    display: flex;
    padding: 0.75rem;
    border-radius: 3.875rem;
    border: 1px solid #3057A2;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin-top: 1.0625rem;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width: 7.0625rem;
}

.more-detailed-practicant span {
    color: #3057A2;
    font-size: 1rem;
    line-height: 1.2rem;
    pointer-events: none;
}

.more-detailed-practicant:hover {
    background-color: #3057A2;
}

.more-detailed-practicant:hover span {
    color: white;
}

/*
.content-4 {
    width: 76.375rem; 
    position: absolute;
    height: 37.5rem; 
    top: 166.5625rem; 
    left: 50%;
    transform: translateX(-50%);
}

.header-content-4 {
    font-size: 3.375rem; 
    text-transform: uppercase;
    line-height: 4.05rem; 
}

.buttons-content-4 {
    width: 9.4375rem; 
    position: absolute;
    left: 66.4375rem; 
    top: 0.625rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.875rem; 
}

.prev-button, .next-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem; 
    height: 2.75rem; 
}

.icon {
    display: inline-block;
    width: 2.75rem; 
    height: 2.75rem; 
    background-color: #313131;
    border-radius: 50%;
    position: relative;
}

.prev-icon::before, .next-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5rem; 
    height: 1rem; 
    background-color: white;
    transform-origin: center;
    transform: translate(-50%, -50%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.next-icon::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

.prev-button:disabled .icon, .next-button:disabled .icon {
    background-color: #D6D6D6;
    cursor: default;
}

.prev-button:not(:disabled):hover .icon, .next-button:not(:disabled):hover .icon {
    background-color: #FBCE51;
}

.counter span {
    font-size: 1rem; 
    line-height: 1.2;
}

.carousel-participants {
    display: flex;
    transition: transform 0.5s ease-in-out;
    top: 3.90625rem;
    position: relative;
}

.participants {
    width: 24.625rem;
    margin-right: 1.25rem; 
    flex: 0 0 auto;
    display: none;
}

.participants.active {
    display: block;
}

.avatar {
    width: 20rem; 
    height: 20rem;
    background: #424241;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.names-participants {
    font-size: 1.5rem; 
    line-height: 1.8rem; 
    text-align: center;
    display: block;
    margin-top: 1.25rem; 
}

.achievements-participants {
    font-size: 1.125rem;
    line-height: 1.375rem; 
    text-align: center;
    opacity: 0.60;
    display: block;
    margin-top: 0.625rem; 
}

.more-detailed-practicant {
    text-align: center;
    display: block;
    padding: 0.75rem; 
    border-radius: 3.875rem; 
    border: 1px solid #3057A2;
    justify-content: center;
    align-items: center;
    gap: 0.625rem; 
    margin-top: 1.0625rem; 
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width: 7.0625rem; 
}

.more-detailed-practicant span {
    color: #3057A2;
    font-size: 1rem; 
    line-height: 1.2rem; 
    pointer-events: none;
}

.more-detailed-practicant:hover {
    background-color: #3057A2;
}

.more-detailed-practicant:hover span {
    color: white;
}
*/


        /* Running line */
    
    
.running-line-wrapper-lower {
    width: auto;
    height: 60px;
    background: #F54932;
    overflow: hidden;
    position: relative;
    top: 2632px;
}

.running-line-lower {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    position: absolute;
    height: 60px;
    animation: slide 20s linear infinite;
}

.running-line-lower:nth-child(2) {
    left: 2335px;
}

.running-line-lower span {
    text-align: right;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 24.20px;
}

.point-lower {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 9999px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-2335px);
    }
}

    /* Footer */

.footer {
    width: 100%;
    height: 150px;
    top: 3452px;
    position: absolute;
}

.footer span {
    max-width: 1222px;
    width: auto;
    left: 18.18%;
    top: 40px;
    position: absolute;
    opacity: 0.60;
    font-size: 16px;
    line-height: 19.20px;
    word-wrap: break-word;
}
