    /* HTML, Body (Header, Main, Footer) */

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E9DED4;
    color: black;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

header, main, footer {
    width: 100%;
}

.background {
    background-color: #E9DED4;
}

.red-text {
    color: #F54932;
}


    /* Fonts */


.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.golos-text-little {
    font-family: "Golos Text", serif;
    font-weight: 400;
    font-style: normal;
}

.golos-text-normal {
    font-family: "Golos Text", serif;
    font-weight: 500;
    font-style: normal;
}

.golos-text-little-bold {
    font-family: "Golos Text", serif;
    font-weight: 600;
    font-style: normal;
}

.golos-text-bold {
    font-family: "Golos Text", serif;
    font-weight: 700;
    font-style: normal;
}


    /* Header */


.header {
    position: relative;
    margin: 26px 0 129px 18.178%; 
    max-width: 542px;
}

.logo {
    display: flex;
    align-items: center;
    width: 45.237%;
    font-weight: 700;
    margin-bottom: 62px;
}

.logo-img {
    width: 37.454%;
    margin: 2.31px 10px 0 0;
}

.logo span {
    font-size: 1rem;
    line-height: 1.08;
    text-transform: uppercase;
    color: #595653;
    flex-direction: column;
    white-space: pre-line;
}

.logo span::after {
    content: "четырех коней";
    display: block;
}

.head-img {
    position: absolute;
    width: 100%;
    height: 853.5px;
    top: -134px;
    overflow: hidden;
}

.head-chess {
    position: absolute;
    width: 1627px;
    object-fit: cover;
    object-position: center;
    left: 50%;
    margin-left: -814px;
}

.head-roughness {
    width: 100%;
    height: 100%;
    mix-blend-mode: color-burn;
    pointer-events: none;
    background: url(../img/head/roughness.jpg);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headline {
    margin-bottom: 20px;
}

.headline span {
    text-transform: uppercase;
    word-wrap: break-word;
    display: block;
    font-size: 3.75rem;
    line-height: 1.1;
}

.headline span:nth-child(2), .headline span:nth-child(3) {
    text-align: right;
}

.title-description {
    margin-bottom: 20px;
    font-size: 1.125rem;
    line-height: 1.3;
    text-align: center;
    font-weight: 400;
}

.btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.buttons-a {
    text-decoration: none; 
}

.buttons {
    padding: 20px;
    border-radius: 66px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 262.88px;
    height: 72px;
}

.buttons-a:first-child button {
    background: #1F1F1F;
    color: white;
}

.buttons-a:last-child button{
    border: 2px #1F1F1F solid;
    color: #1F1F1F;
    background-color: rgba(0, 0, 0, 0.0);
}

.buttons span {
    text-align: center;
    font-size: 1rem;
    line-height: 1.3;
    word-wrap: break-word;
    pointer-events: none;   
    max-width: 75.392%;
}

.buttons-a:first-child:hover button {
    background-color: #FBCE51;
    color: black;
    border: 0px #FBCE51;
}

.buttons-a:last-child:hover button {
    background-color: #1F1F1F;
    color: white;
}

.head-chess-mobile {
    display: none;
}


    /* Running line */


.running-line-wrapper {
    background: #F54932;
    overflow: hidden;
    position: relative;
    height: 60px;
}

.running-line {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    position: absolute;
    height: 100%;
    animation: slide 20s linear infinite;
}

.running-line:nth-child(2) {
    margin-left: 2334.91px;
}

.running-line span {
    text-align: right;
    color: white;
    font-size: 1.375rem;
    text-transform: uppercase;
    line-height: 24.2px;
}

.point {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(2335px);
    }
}


    /* Main */


main {
    margin: 83px 0 145px 0;
}

.main-content {
    max-width: 1222px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Contents 1 and 2 */

.content-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 44px;
}

.header-content-1 {
    flex: 1;
    max-width: 62.52%;
}

.image-content-1 {
    max-width: 32.242%;
}

.content-2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 147px;
}

.content-content-2 {
    flex: 1 1 57.61%;
    flex-direction: column;
}

.header-content-2 {
    margin-top: 14px;
}

.header-content-1 span, .header-content-2 span {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.35;
    word-wrap: break-word;
}

.header-content-1 span:last-child, .header-content-2 span:nth-child(2) {
    font-weight: 700;
}

.table {
    border-collapse: collapse;
    table-layout: auto;
    margin: 63px 0 50px 0;
}

.table td {
    padding: 17px 0;
}

.table tr:first-child td {
    padding-top: 0;
}

.table tr:last-child td {
    padding-bottom: 0;
}

.table tr:not(:last-child) {
    border-bottom: 2px #D0D0D0 solid;
    white-space: nowrap;
}

.table td:nth-child(1) {
    padding-right: 16px;
    opacity: 0.70;
    font-weight: 400;
}

.table td:nth-child(2) {
    padding-left: 16px;
    font-weight: 600;
}

.table td + td {
    border-left: 2px #D0D0D0 solid;
    width: 100%;
}

.table span {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    margin-right: 14px;
}

.table td, .note-content-2 {
    font-size: 1.25rem;
    line-height: 1.2;
    word-wrap: break-word;
}

.note-content-2 {
    color: #3057A2;
    font-weight: 400;
}

.image-content-2 {
    max-width: 38.654%;
    max-height: 856px;
    overflow: hidden;
    margin: 0 auto;
}

.image-1-content-2 {
    width: 100%;
    height: 100%;
}

.roughness-content-2 {
    width: 99%;
    height: 900px;
    mix-blend-mode: color-burn;
    transform: rotate(-90deg);
    position: absolute;
    top: 1126.19px;
    mix-blend-mode: color-burn;
    pointer-events: none;
    background: url(../img/body/content-2/roughness.png);
}

/* Content 3 */

.content-3 {
    position: relative;
    max-width: 1222px;
    margin-bottom: 147px;
    display: flex;
    flex-direction: column;
}

.header-content-3 {
    font-size: 3.375rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.subtitle-content-3 {
    color: #3057A2;
    font-size: 1.25rem;
    line-height: 1.2;
    margin: 72px 0 0 301px;
    position: absolute;
    font-weight: 400;
}

.carousel-content-3 {
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(112px, auto);
    gap: 16px;
    width: 96.54%;
}

.contents-3 {
    box-sizing: border-box;
    position: relative;
    background-color: #f9f9f9;
    background-image: url(../img/body/content-3/background.png);
    background-position: bottom;
}

.contents-3:nth-child(3) {
    grid-row: span 2;
    min-height: 244px;
}

.contents-3:nth-child(6) {
    min-height: 136px;
}

.contents-3:nth-child(7) {
    grid-column: span 2;
    min-height: 136px;
}

.carousel-contents-3 {
    margin: 20px 0 20px 20px;
}

.carousel-contents-3 div:last-child {
    position: relative;
    margin-left: 52px;
}

.contents-3:nth-child(7) .carousel-contents-3 div:last-child {
    max-width: 54%;
}

.numbers-content-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 600;
    position: absolute;
}

.contents-3 span {
    position: relative;
    font-size: 1.25rem;
    line-height: 24px;
    word-wrap: break-word;
}

.image-content-3 {
    position: absolute;
    width: 29.052%;
    right: -1.637%;
    bottom: 5%;
}

@media (max-width: 960px) {
    .image-content-3 {
        bottom: 8.125%;
    }
}

.buttons-content-3 {
    display: none;
}

.counter-content-3 span {
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #D9D9D9;
}

.counter-content-3 .active {
    background: #313131;
}

/* Content 4 */

.content-4 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header-content-4 {
    font-size: 3.375rem;
    text-transform: uppercase;
    line-height: 64.8px;
    flex: 1;
}

.buttons-content-4 {
    width: 151px;
    display: flex;
    gap: 14px;
    margin: -55px 0 60px auto;
    align-items: center;
    height: 44px;
    font-weight: 400;
}

.prev-button, .next-button, .prev-button-content-3, .next-button-content-3 {
    border: none;
    cursor: pointer;
    width: 29.135%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    background-color: #313131;
}

.prev-button::before, .next-button::before, .prev-button-content-3::before, .next-button-content-3::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18.18%;
    height: 36.36%;
    background-color: white;
    transform-origin: center;
    transform: translate(-50%, -50%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.next-button::before, .next-button-content-3::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

.prev-button:disabled, .next-button:disabled, .prev-button-content-3:disabled, .next-button-content-3:disabled {
    background-color: #D6D6D6;
    cursor: default;
}

.prev-button:not(:disabled):hover, .next-button:not(:disabled):hover, .prev-button-content-3:not(:disabled):hover, .next-button-content-3:not(:disabled):hover {
    background-color: #FBCE51;
}

.counter {
    font-size: 1rem;
    line-height: 1.2;
}

.carousel-participants {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.participants {
    flex: 0 0 auto;
    display: none; 
}

.participants.active {
    display: block; 
}

.avatar {
    width: 320px;
    height: 320px;
    background: #424241;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .avatar {
        width: 260px;
        height: auto;
    }
}

.names-participants {
    font-size: 1.5rem;
    line-height: 24.8px;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-weight: 600;
}

.achievements-participants {
    font-size: 1.125rem;
    line-height: 22px;
    text-align: center;
    opacity: 0.60;
    display: block;
    margin-top: 10px;
    font-weight: 400;
}

.more-detailed-practicant {
    text-align: center;
    display: flex;
    padding: 12px;
    border-radius: 62px;
    border: 1px solid #3057A2;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width: 113px;
}

.more-detailed-practicant span {
    color: #3057A2;
    font-size: 1rem;
    line-height: 19.2px;
    pointer-events: none;
}

.more-detailed-practicant:hover {
    background-color: #3057A2;
}

.more-detailed-practicant:hover span {
    color: white;
}


        /* Running line */
    

.running-line-wrapper-lower {
    height: 3.75rem;
    background: #F54932;
    overflow: hidden;
    position: relative;
}

.running-line-lower {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    white-space: nowrap;
    position: absolute;
    height: 100%;
    animation: slide 20s linear infinite;
}

.running-line-lower:nth-child(2) {
    margin-left: 145.931875rem;
}

.running-line-lower span {
    text-align: right;
    color: white;
    font-size: 1.375rem;
    text-transform: uppercase;
    line-height: 1.5125rem;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-2335px);
    }
}


    /* Footer */

    
.footer {
    padding: 2.508% 0 4.491% 18.18%;
}

.footer span {
    display: flex;
    max-width: 76.615%;
    opacity: 0.6;
    font-size: 1rem;
    line-height: 1.2rem;
    word-wrap: break-word;
}


    /* Animation */


@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.image-slide-right, .image-slide-left {
    opacity: 0;
}

.image-slide-right.animate {
    animation: slideInFromRight 1s ease-out forwards;
}

.image-slide-left.animate {
    animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes fadeInBlur {
  from {
    transform: scale(1.1); 
    filter: blur(10px); 
    opacity: 0; 
  }
  to {
    transform: scale(1); 
    filter: blur(0); 
    opacity: 1; 
  }
}

.hero-image {
  animation: fadeInBlur 2s ease-out forwards; 
}

@keyframes zoomInRotate {
    from {
        transform: scale(0.8) rotate(-10deg);
        opacity: 0;
    }

    to {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

.image-animate.animate {
    animation: zoomInRotate 1s ease-in-out forwards;
}

.image-animate:hover {
    animation: none;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


    /* Media */


@media (max-width: 1366px) {

    .header, .footer {
        margin-left: 5.27%;
    }

    .image-content-2 {
        max-height: 609px;
    }

    .carousel-participants {
        justify-content: space-between;
    }

}

/* 1284.36px */

@media (max-width: 876px) {

    /* Main */

    main {
        margin: 48px 0 100px 0;
    }

    .main-content {
        max-width: 785px;
    }

    .content-1, .content-2, .content-content-2, .content-3, .content-4 {
        flex-direction: column;
    }

    .content-1 {
        margin-bottom: 132px;
    }

    .header-content-1 {
        max-width: 100%;
    }

    .header-content-1 div {
        margin-top: 421px;
    }

    .image-content-1 {
        max-width: 588.734px;
        margin-top: -473px;
    }

    .content-2 {
        margin-bottom: 92px;
    }

    .image-content-2 {
        max-width: 392.5px;
        max-height: 402px;
        margin: 0 auto;
        overflow: visible;
    }

    .image-1-content-2 {
        margin-left: -19.43px;
        margin-top: 0.34px;
    }

    .content-content-2 {
        margin-top: 40px;
    }

    .header-content-2 {
        margin-top: 0;
    }

    .header-content-1 span, .header-content-2 span {
        font-size: 28px;
        line-height: 37.80px;
    }

    .note-content-2 {
        font-size: 18px;
        line-height: 21.60px;
    }

    .roughness-content-2 {
        width: 420px;
        height: 374px;
        left: 50%;
        transform: translateX(-50%);
        top: 1412px;
    }

    .content-3 {
        margin: 0 auto 100px auto;
    }

    .header-content-3 {
        max-width: 100%;
        font-size: 2.25rem;
        line-height: 39.6px;
    }

    .subtitle-content-3 {
        max-width: 100%;
        margin: 28px 0 0 0;
        position: relative;
        font-size: 1.125rem;
        line-height: 21.6px;
    }

    .image-content-3 {
        width: 100%;
        max-width: 335px;
        height: 182px;
        margin: -130px 0 0 0;
        left: 50%;
        margin-left: -167.5px;
        right: auto;
        bottom: auto;
    }

    .stages {
        background-color: #D9D9D9;
        margin: 148px auto 0 auto;
        position: relative;
        display: flex;
        width: 335px;
        height: 300px;
        background-image: url(../img/body/content-3/background-mobile.png);
    }

    .carousel-content-3 {
        transition: transform 0.5s ease-in-out;
        width: 100%;
        gap: 28px;
        margin-top: 0;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .contents-3 {
        display: none;
        margin: 62px 0 0 20px;
        min-width: 100%;
        height: auto;
    }

    .contents-3.active {
        display: block;
    }

    .contents-3:nth-child(2) {
        padding-bottom: 34px;
        margin-top: 0;
    }

    .contents-3:nth-child(5) {
        margin-top: 0;
        padding-bottom: 100px;
    }

    .contents-3:nth-child(6) {
        margin-left: 5.974%;
    }

    .contents-3:nth-child(7) {
        height: auto;
    }

    .carousel-contents-3 {
        margin: 0 0 0 0;
        max-width: 291px;
    }

    .numbers-content-3 {
        z-index: 1;   
    }

    .carousel-contents-3 div:last-child span {
        font-size: 1.125rem;
        line-height: 21.6px;
    }

    .contents-3:nth-child(7) .carousel-contents-3 div:last-child {
        max-width: 100%;
    }

    .buttons-content-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: relative;
        margin-top: 65px;
    }

    .prev-button-content-3, .next-button-content-3 {
        width: 44px;
        height: 44px;
    }

    .counter-content-3 {
        display: flex;
        gap: 6px;
    }

    .content-4 {
        padding-bottom: 94px;
    }

    .header-content-4 {
        font-size: 2.25rem;
        line-height: 1.1;
        margin-bottom: 40px;
    }

    .buttons-content-4 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 548px 0 0 6px;
    }

    .carousel-participants {
        justify-content: center;
        overflow: hidden;
    }

    .avatar {
        width: 244px;
        height: 244px;
    }

    .names-participants {
        line-height: 1.2;
    }

    .achievements-participants {
        font-size: 1.25rem;
        line-height: 1.2;
    }

    .more-detailed-practicant {
        font-size: 1rem;
        line-height: 1.2;
    }

}

@media (max-width: 603px) {

    .image-content-1 {
        max-width: 422.234px;
        margin-top: -367.48px;
    }

    .header-content-1 div {
        margin-top: 315.89px;
    }

    .table {
        margin: 44px auto 40px auto;
    }

    .table td {
        display: block;
        border-left: none;
    }

    .table td:nth-child(1) {
        padding: 16px 0 12px 0;
    }

    .table td:nth-child(2) {
        padding: 0 0 16px 0;
    }

    .table tr:first-child td {
        padding-top: 0;
    }

    .table tr:last-child td {
        padding-bottom: 12px;
    }

    .table tr:last-of-type td:last-child {
        padding-bottom: 0;
    }

    .table td+td {
        border-left: none;
    }

    .table td, .note-content-2 {
        font-size: 18px;
        line-height: 21.60px;
    }

}

@media (max-width: 595px) {

    .image-content-1 {
        margin-top: -405.28px;
    }

}

@media (max-width: 566px) {

    .header {
        max-width: 335px;
        margin-left: 18px 0 291px 5.33%;
    }

    .logo {
        margin-bottom: 40px;
        width: 63.583%;
    }

    .logo-img {
        width: 37.329%;
        margin: 2px 5.5px 0 0;
    }

    .logo span {
        font-size: 0.9011rem;
        line-height: 1.08;
        width: 60.094%;
    }

    .content {
        margin-bottom: 241px;
    }

    .headline {
        margin-bottom: 24px;        
    }

    .headline span {
        font-size: 2.25rem;
        line-height: 1.1;
    }

    .headline span:nth-child(2) {
        text-align: center;
    }

    .title-description {
        text-align: left;
        margin-bottom: 32px;
    }

    .btns {
        width: 100%;
        gap: 0;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .btns a {
        width: 100%;
    }

    .buttons {
        padding: 18px 20px;
        width: 100%;
        height: 47px;
        border-radius: 66px;
    }

    .buttons-a:first-child button {
        margin-bottom: 14px;
    }

    .buttons-a:last-child button {
        background: white;
        border: none;
    }

    .buttons span {
        font-size: 1rem;
        line-height: 1.3;
        max-width: 100%;
    }

    .head-img {
        top: -76px;
    }

    .running-line-wrapper, .running-line-wrapper-lower {
        height: 38px;
        display: flex;
        padding: 10px 0;
        flex-wrap: wrap;
        align-items: center;
    }

    .running-line span, .running-line-lower span {
        font-size: 1rem;
        line-height: 1.1;
    }

    .roughness-content-2 {
        width: 375px;
    }

    .footer {
        padding: 7.143% auto 10.715% auto;
    }

}

@media (max-width: 427px) {

    .image-content-1 {
        max-width: 100%;
        margin-top: -382.938px;
    }

    .header-content-1 div {
        margin-top: 293.547px;
    }

    .content-1 {
        margin-bottom: 156px;
    }

    .image-content-2 {
        max-width: 100%;
    }

}

@media (max-width: 405px) {

    .image-content-1 {
        margin-top: -407.47px;
    }

    .header-content-1 div {
        margin-top: 279.59px;
    }

    .content-1 {
        margin-bottom: 180px;
    }

}

@media (max-width: 375px) {

    .head-chess {
        display: none;
    }

    .head-img {
        top: 0;
    }

    .head-chess-mobile {
        display: block;
        position: absolute;
        width: 100%;
        top: 359px;
    }

    .content-1 {
        margin-bottom: 204px;
    }

}
