@media (max-width: 1366px) {

    /*
    body, header {
    max-width: 1366px;
    }
    */

    .logo, .content, .footer span {
        left: 5.27%;
    }

}

@media (max-width: 1284.36px) {

    .running-line-wrapper-lower {
        top: 4245px;
    }

    .footer {
        top: 4283px;
    }

    .content-1 {
        width: 336px;
        height: 565px;
        top: 860px;
    }

    .header-content-1 {
        width: 335px;
        height: 565px;
        left: 1px;
        top: 0px;
        position: absolute;
    }

    .header-content-1 div {
        top: 413px;
        position: absolute;
    }

    .image-content-1 {
        width: 335px;
        height: 212.56px;
        left: 0px;
        top: 176px;
        position: absolute;
    }

    .content-2 {
        width: 336px;
        height: 1174px;
        top: 1459px;
    }

    .header-content-2 {
        width: 335px;
        left: 1px;
        top: 426px;
    }

    .span-1-content-1, .span-2-content-1, .span-3-content-1, .header-content-2 span {
        font-size: 28px;
        line-height: 37.80px;
    }

    .table {
        width: 336px;
        height: 392px;
        left: 0px;
        top: 698px;
    }

    .table-titles, .table-descriptions {
        height: 356px;
        left: 1px;
    }

    .table-descriptions {
        width: 268px;
        top: 36px;
    }

    .table-title-2, .table-description-2 {
        top: 92px;
    }

    .table-title-3, .table-description-3 {
        top: 184px;
    }

    .table-title-4, .table-description-4 {
        top: 276px;
    }

    .table-title-5, .table-description-5, .last-table-description-5 {
        top: 368px;
    }

    .note-content-2 {
        width: 335px;
        left: 1px;
        top: 1173px;
        font-size: 18px;
        line-height: 21.60px;
    }

    .image-content-2 {
        width: 335px;
        height: 402px;
        left: 1px;
    }

    .image-1-content-2 {
        width: 373.86px;
        height: 460.11px;
        left: -19.43px;
        top: 0.34px;
    }

    .roughness-content-2 {
        width: 420px;
        height: 374px;
        left: 50%;
        transform: translateX(-50%);
        top: 1513px;
    }

    .table-vectors {
        width: 336px;
        height: 306px;
        top: 76px;
    }

    .horizontal-vectors {
        width: 335px;
        height: 240px;
        left: 1px;
        top: 0px;
    }

    .horizontal-vectors svg {
        width: 335px;
    }

    .horizontal-vector-2 {
        top: 92px;
    }

    .horizontal-vector-3 {
        top: 184px;
    }

    .horizontal-vector-4 {
        top: 276px;
    }

    .red-vector {
        width: 87px;
        left: 0px;
        top: 342px;
    }

    .vertical-vector {
        display: none;
    }

    /* Content 3 */

    
    .content-3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        width: 335px;
        height: 688px;
        top: 2753px;
    }

    .header-content-3 {
        position: absolute;
        text-transform: uppercase;
        word-wrap: break-word;

        width: 335px;
        font-size: 36px;
        line-height: 39.60px;
    }

    .subtitle-content-3 {
        position: absolute;
        color: #3057A2;
        word-wrap: break-word;

        width: 335px;
        left: 0px;
        top: 132px;
        font-size: 18px;
        line-height: 21.60px;
    }

    .content-3-1, .content-3-2, .content-3-3, .content-3-4, .content-3-5, .content-3-6, .content-3-7 {
        position: absolute;
    }

    .content-3-1 {
        width: 291px;
        left: 20px;
        top: 386px;
    }

    .content-3-2 {
        width: 291px;
        left: 20px;
        top: 502px;
    }

    .content-3-3 {
        display: none;
        width: 335px;
        left: 20px;
        top: 386px;
        background: #D9D9D9;
    }

    .content-3-4 {
        display: none;
        background: #D9D9D9;

        width: 295px;
        height: 44px;
        left: 20px;
        top: 386px;
    }

    .content-3-5 {
        display: none;
        background: #D9D9D9;
        width: 295px;
        height: 66px;
        left: 20px;
        top: 502px;
    }

    .content-3-6 {
        display: none;
        background: #D9D9D9;

        width: 335px;
        height: 300px;
        left: 20px;
        top: 386px;
    }

    .content-3-7 {
        display: none;
        background: #D9D9D9;

        width: 335px;
        height: 300px;
        left: 20px;
        top: 386px;
    }

    .numbers-content-3 {
        width: 36px;
        height: 36px;
        position: absolute;
        background: white;
        border-radius: 60px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        left: 0px;
        top: 0px;
        display: inline-flex;
    }

    .numbers-content-3 div {
        font-size: 20px;
        line-height: 24px;
        word-wrap: break-word;

        position: absolute;
    }

    .content-3-1 span, .content-3-2 span, .content-3-3 span, .content-3-4 span, .content-3-5 span, .content-3-6 span, .content-3-7 span {
        position: absolute;
        word-wrap: break-word;

        width: 243px;
        left: 52px;
        top: 0px;
        font-size: 18px;
        line-height: 21.60px;
    }

    .buttons-content-3 {
        display: block;
        left: 79px; 
        top: 652px;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 16px;
        display: inline-flex;
    }

    .prev-button-content-3,
    .next-button-content-3 {
        display: block;
        width: 36px;
        height: 36px;
        position: relative;
    }

    .counter-content-3 {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 6px;
        display: flex
    }

    .counter-content-3 svg {
        display: block;
    }

    .counter-content-3-active {
        display: block;
        width: 10px;
        height: 10px;
        background: #313131;
        border-radius: 9999px;
    }

    .counter-content-3-non-active {
        display: block;
        width: 10px;
        height: 10px;
        background: #D9D9D9;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .background-content-3-1, .background-content-3-2, .background-content-3-3, .background-content-3-4, .background-content-3-5, .background-content-3-6, .background-content-3-7 {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        opacity: 0.80;
        box-shadow: 5px 4px 12.699999809265137px rgba(0, 0, 0, 0.25);
        pointer-events: none;

        width: 448px;
        height: 886px;
        left: -28px;
        top: 340px;
        background: url(../img/body/content-3/background\(6\,7\).png);
    }

    .roughness-content-3-1, .roughness-content-3-2, .roughness-content-3-3, .roughness-content-3-4, .roughness-content-3-5, .roughness-content-3-6, .roughness-content-3-7 {
        position: absolute;
        mix-blend-mode: color-burn;
        pointer-events: none;
        background: url(../img/body/content-3/roughness\(1\,2\,3\,4\,5\,7\).png);

        width: 1066px;
        height: 489px;
        left: -230px;
        top: -140px;
    }

    .image-content-3 {
        position: absolute;
        transform-origin: 0 0;

        width: 335px;
        height: 182px;
        left: 0px;
        top: 196px;
    }
    
}