@media (max-width: 1366px) {

    .logo, .content, .footer span {
        left: 5.27%;
    }

}

@media (max-width: 1284.36px) {

        /* Main */

    main {
        margin: 48px 0 100px 0;
    }

    .content-1, .content-2, .content-content-2, .content-3 {
        flex-direction: column;
        max-width: calc(20.9375rem * 1);
        margin: 0 auto;
    }

    .header-content-1, .image-content-2, .content-content-2, .header-content-3, .subtitle-content-3 {
        margin-left: 1px;
    }

    .header-content-1 div {
        margin-top: 261px;
    }

    .image-content-1 {
        width: 20.9375rem;
        height: 13.285rem;
        margin-top: -389px;
    }

    .content-2 {
        margin-top: 210.44px;
    }

    .image-content-2 {
        width: 335px;
        height: 402px;
        overflow: visible;
    }

    .image-1-content-2 {
        width: 373.86px;
        height: 460.11px;  
        margin-left: -19.43px;
        margin-top: 0.34px;
    }

    .content-content-2 {
        margin-top: 24px;
    }

    .header-content-2 {
        margin-top: 0;
    }

    .header-content-1 span, .header-content-2 span {
        font-size: 28px;
        line-height: 37.80px;
    }

    .table {
        margin: 44px 0 40px 0;
    }
    
    .table td {
        display: block;
        border-left: none;  
    }

    .table td:nth-child(1) {
        padding: 16px 0 12px 0;
    }

    .table td:nth-child(2) {
        padding: 0 0 16px 0;
    }

    .table tr:first-child td {
        padding-top: 0;
    }

    .table tr:last-child td {
        padding-bottom: 12px;
    }

    .table tr:last-of-type td:last-child {
        padding-bottom: 0;
    }

    .table td + td {
        border-left: none;
    }

    .table td, .note-content-2 {
        font-size: 18px;
        line-height: 21.60px;
    }

    .roughness-content-2 {
        width: 420px;
        height: 374px;
        left: 50%;
        transform: translateX(-50%);
        top: 1412px; 
    }

    .content-3 {
        margin: 120px auto 100px auto;
    }

    .header-content-3 {
        max-width: 100%;
        font-size: 36px;
        line-height: 39.60px;
    }

    .subtitle-content-3 {
        max-width: 100%;
        margin-top: 12px;
        position: relative;
        font-size: 18px;
        line-height: 21.60px;
    }

    .image-content-3 {
        position: absolute;
        transform-origin: 0 0;

        width: 335px;
        height: 182px;
        margin-left: 0px;
        margin-top: 196px;
    }

    .background-stages {
        position: absolute;
        display: block;
        width: 448px;
        height: 886px;
        margin-left: -28px;
        margin-top: 340px;
        background: url(../img/body/content-3/background\(6\,7\).png);
        opacity: 0.8;
        transform: rotate(-90deg);
        pointer-events: none;
        transform-origin: 0 0; 
        box-shadow: 5px 4px 12.699999809265137px rgba(0, 0, 0, 0.25); 
        overflow: hidden;
    }

    .roughness-stages {
        position: absolute;
        width: 1066px;
        height: 489px;
        margin-left: -230px;
        margin-top: -140px;
        background: url(../img/body/content-3/roughness\(1\,2\,3\,4\,5\,7\).png);
        mix-blend-mode: color-burn;
        pointer-events: none;

        overflow: hidden;
    }

    .stages {
        background: #D9D9D9;
        margin-top: 148px;
        position: relative;

        display: flex;
        height: 300px;
        overflow: hidden;
    }

    .carousel-content-3 {
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    .contents-3 {
        flex: auto;
        flex-shrink: 0;
        display: none;
        margin-top: 62px;
        height: auto;
        min-width: 335px; 
        background: #D9D9D9;
    }

    .contents-3.active {
        display: block;
    }

    .contents-3:nth-child(2) {
        margin-top: 28px;
    }

    .contents-3:nth-child(5) {
        margin-top: 28px;
    }

    .numbers-content-3 {
        margin-left: 0;
        margin-top: 0px;
        display: inline-flex;
    }

    .contents-3 span {
        max-width: 239px;
        margin: 0 0 0 52px;
        font-size: 18px;
        line-height: 21.60px;
    }

    .contents-3:last-child span {
        max-width: 243px;    
        margin: 0 0 0 52px;
    }

    .buttons-content-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 652px;
    }

    .prev-button-content-3, .next-button-content-3 {
        width: 44px;
        height: 44px;
    }

    .counter-content-3 {
        display: flex;
        gap: 6px;
    }

    .counter-content-3 svg {
        fill: #D9D9D9;
    }

    .counter-content-3 .active {
        fill: #313131;
    }

    .background-contents-3 {
        display: none;
    }

    .roughness-contents-3 {
        display: none;
    }

    /*
    .contents-3 {
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        background-color: #f9f9f9;
        flex: 1 1 calc(33.33% - 2.5rem);
        height: 7rem;
    }
    */

    /*
    .content-4 {
        max-width: calc(20rem * 3.83375);
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .head-content-4 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.89%;
    }

    .header-content-4 {
        font-size: 3.375rem;
        text-transform: uppercase;
        line-height: 4.05rem;
    }

    .buttons-content-4 {
        width: 12.31%;
        display: flex;
        gap: 0.875rem;
        margin-top: 0.815%;
        align-items: center;
    }

    .prev-button, .next-button {
        border: none;
        cursor: pointer;
        width: 29.135%;
        height: 80.28%;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 50%;
        background-color: #313131;
    }

    .prev-button::before, .next-button::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18.18%;
        height: 36.36%;
        background-color: white;
        transform-origin: center;
        transform: translate(-50%, -50%);
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }

    .next-button::before {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    .prev-button:disabled, .next-button:disabled {
        background-color: #D6D6D6;
        cursor: default;
    }

    .prev-button:not(:disabled):hover, .next-button:not(:disabled):hover {
        background-color: #FBCE51;
    }

    .counter {
        font-size: 1rem;
        line-height: 1.2;
    }

    .carousel-participants {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }

    .participants {
        flex: 0 0 auto;
        display: none; 
    }

    .participants.active {
        display: block; 
    }

    .avatar {
        width: 20rem;
        height: 20rem;
        background: #424241;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        margin: 0 auto;
    }

    .names-participants {
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-align: center;
        display: block;
        margin-top: 6.25%;
    }

    .achievements-participants {
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;
        opacity: 0.60;
        display: block;
        margin-top: 3.125%;
    }

    .more-detailed-practicant {
        text-align: center;
        display: flex;
        padding: 3.75%;
        border-radius: 3.875rem;
        border: 0.0625rem solid #3057A2;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        margin-top: 5.3125%;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        width: 7.0625rem;
    }

    .more-detailed-practicant span {
        color: #3057A2;
        font-size: 1rem;
        line-height: 1.2rem;
        pointer-events: none;
    }

    .more-detailed-practicant:hover {
        background-color: #3057A2;
    }

    .more-detailed-practicant:hover span {
        color: white;
    }


    /*

    .content-3 {
        width: 335px;
        height: 688px;
        top: 2753px;
    }

    .header-content-3 {
        width: 335px;
        font-size: 36px;
        line-height: 39.60px;
    }

    .subtitle-content-3 {
        width: 335px;
        left: 0px;
        top: 132px;
        font-size: 18px;
        line-height: 21.60px;
    }

    .corusel-content-3 {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 335px;
        overflow: hidden;
    }

    .stages {
        position: absolute;
        width: 335px;
        height: 300px;
        left: 0px;
        top: 324px;
        background: #D9D9D9;
        overflow: hidden;
    }

    .background-stages {
        position: absolute;
        width: 448px;
        height: 886px;
        left: -28px;
        top: 340px;
        background: url(../img/body/content-3/background\(6\,7\).png);
        opacity: 0.8;
        transform: rotate(-90deg);
        pointer-events: none;
        transform-origin: 0 0; 
        box-shadow: 5px 4px 12.699999809265137px rgba(0, 0, 0, 0.25); 
    }

    .roughness-stages {
        position: absolute;
        width: 1066px;
        height: 489px;
        left: -230px;
        top: -140px;
        background: url(../img/body/content-3/roughness\(1\,2\,3\,4\,5\,7\).png);
        mix-blend-mode: color-burn;
        pointer-events: none;
    }

    .contents-3 {
        min-width: 335px;
        flex-shrink: 0;
        display: none;
    }

    .contents-3.active {
        display: block;
    }

    .content-3-1 {
        width: 291px;
        left: 20px;
        top: 62px;
    }

    .content-3-2 {
        width: 291px;
        left: 20px;
        top: 178px;
    }

    .content-3-3 {
        width: 335px;
        left: 20px;
        top: 62px;
    }

    .content-3-4 {
        width: 295px;
        height: 44px;
        left: 20px;
        top: 62px;
    }

    .content-3-5 {
        width: 295px;
        height: 66px;
        left: 20px;
        top: 178px;
    }

    .content-3-6 {
        width: 335px;
        height: 300px;
        left: 20px;
        top: 62px;
    }

    .content-3-7 {
        width: 335px;
        height: 300px;
        left: 20px;
        top: 62px;
    }

    .content-3-1 span, .content-3-2 span, .content-3-3 span, .content-3-4 span, .content-3-5 span, .content-3-6 span, .content-3-7 span {
        width: 243px;
        left: 52px;
        top: 0px;
        font-size: 18px;
        line-height: 21.60px;
        }

    .numbers-content-3 {        
        left: 0px;
        top: 0px;
        display: inline-flex;
    }

    .background-content-3-1, .background-content-3-2, .background-content-3-3, .background-content-3-4, .background-content-3-5, .background-content-3-6, .background-content-3-7 {
        display: none;
    }

    .roughness-content-3-1, .roughness-content-3-2, .roughness-content-3-3, .roughness-content-3-4, .roughness-content-3-5, .roughness-content-3-6, .roughness-content-3-7 {
        display: none;
    }

    .content-4 {
        width: 335px;
        height: 584px;
        top: 3561px;
    }

    .header-content-4 {
        font-size: 36px;
        line-height: 110%;
    }

    .buttons-content-4 {
        left: 50%;
        transform: translateX(-50%);
        top: 548px;
    }

    .carousel-participants {
        top: 31.25px;

    }

    .participants {
        width: 335px;
    }

    .avatar {
        width: 244px;
        height: 244px;
    }

    .names-participants {
        line-height: 120%;
    }

    .achievements-participants {
        font-size: 20px;
        line-height: 120%;
    }

    .more-detailed-practicant span {
        font-size: 16px;
        line-height: 120%;
    }
    */

}

@media (max-width: 560px) {

    .head {
        height: 774px;
    }

    .logo {
        width: 213px;
        height: 32px;
        left: 5.33%;
        top: 18px;
    }

    .logo-img {
        width: 79.5px;
        height: 27px;
        top: 2px;
    }

    .logo-span {
        width: 128px;
        height: 32px;
        left: 85px;
        top: 0;
        font-size: 14.4176px;
    }

    .head-img {
        top: -62px;
    }

    .content {
        width: 335px;
        height: 393px;
        left: 5.33%;
        top: 90px;
    }

    .headline {
        width: 335px;
        height: 160px;
    }

    .headline-span-1, .headline-span-2, .headline-span-3 {
        font-size: 36px;
        line-height: 110%;
    }

    .headline-span-1 {
        width: 335px;
    }

    .headline-span-2 {
            left: 43.25px;
            top: 80px;
    }

    .headline-span-3 {
        width: 335px;
        top: 120px;
    }

    .btns {
        width: 335px;
        height: 108px;
        left: 5.33%;
        top: 285px;
        gap: 0;
    }

    .button-1 {
        top: 0;
    }

    .button-1, .button-2 {
        padding: 18px 20px;
        position: absolute;
        width: 335px;
        height: 47px;
    }

    .button-2 {
        top: 61px;
        background: white;
        border: none;
        /* box-sizing: border-box; */
    }

    .button-1 span, .button-2 span {
        width: 249px;
        font-size: 16px;
        line-height: 130%;
        word-wrap: break-word;
    }

    .title-description {
        text-align: left;
        width: 335px;
        height: 69px;
        left: 5.33%;
        top: 184px;
    }

    .running-line-wrapper, .running-line-wrapper-lower {
        height: 38px;
        padding: 10px 12px; 
        display: flex;
        align-items: center;
    }

    .running-line span, .running-line-lower span {
        font-size: 16px;
        line-height: 110%;
    }

    .footer {
        top: 4322px;
        height: 214px;
    }

}

@media (max-width: 375px) {

    .head-img {
        width: 900.01px;
        height: 812px;
        top: 0px;
    }

    .head-chess {
        display: none;
    }

    .head-chess-mobile {
        display: block;
        position: absolute;
        width: 375px;
        height: auto;
        top: 383.59px;
    }

}