@media (max-width: 1366px) {

    .logo, .content, .footer span {
        left: 5.27%;
    }

}

@media (max-width: 1284.36px) {

    .body {
        height: 4403px;
    }

    .running-line-wrapper-lower {
        top: 3432px;
    }

    .footer {
        top: 4253px;  
    }

    .content-1 {
        width: 336px;
        height: 565px;
        top: 860px;
    }

    .header-content-1 {
        width: 335px;
        height: 565px;
        left: 1px;
        top: 0px;
        position: absolute;
    }

    .header-content-1 div {
        top: 413px;
        position: absolute;
    }

    .image-content-1 {
        width: 335px;
        height: 212.56px;
        left: 0px;
        top: 176px;
        position: absolute;
    }

    .content-2 {
        width: 336px;
        height: 1174px;
        top: 1459px;
    }

    .header-content-2 {
        width: 335px;
        left: 1px;
        top: 426px;
    }

    .span-1-content-1, .span-2-content-1, .span-3-content-1, .header-content-2 span {
        font-size: 28px;
        line-height: 37.80px;
    }

    .table {
        width: 336px;
        height: 392px;
        left: 0px;
        top: 698px;
    }

    .table-titles, .table-descriptions {
        height: 356px;
        left: 1px;
    }

    .table-descriptions {
        width: 268px;
        top: 36px;
    }

    .table-title-2, .table-description-2 {
        top: 92px;
    }

    .table-title-3, .table-description-3 {
        top: 184px;
    }

    .table-title-4 {
        top: 276px;
    }

    .table-description-4 {
        top: 240px;
        left: 173px;
    }

    .table-title-5, .table-description-5, .last-table-description-5 {
        top: 332px;
    }

    .note-content-2 {
        width: 335px;
        left: 1px;
        top: 1130px;
        font-size: 18px;
        line-height: 21.60px;
    }

    .image-content-2 {
        width: 335px;
        height: 402px;
        left: 1px;
    }

    .image-1-content-2 {
        width: 373.86px;
        height: 460.11px;
        left: -19.43px;
        top: 0.34px;
    }

    .roughness-content-2 {
        width: 420px;
        height: 374px;
        left: 50%;
        transform: translateX(-50%);
        top: 1513px;
    }

    .table-vectors {
        width: 336px;
        height: 306px;
        top: 76px;
    }

    .horizontal-vectors {
        width: 335px;
        height: 240px;
        left: 1px;
        top: 0px;
    }

    .horizontal-vectors svg {
        width: 335px;
    }

    .horizontal-vector-2 {
        top: 92px;
    }

    .horizontal-vector-3 {
        top: 184px;
    }

    .horizontal-vector-4 {
        top: 240px;
    }

    .red-vector {
        width: 87px;
        left: 0px;
        top: 306px;
    }

    .vertical-vector {
        display: none;
    }

    /* Content 3 */

    .content-3 {
        width: 335px;
        height: 688px;
        top: 2753px;
    }

    .header-content-3 {
        width: 335px;
        font-size: 36px;
        line-height: 39.60px;
    }

    .subtitle-content-3 {
        width: 335px;
        left: 0px;
        top: 132px;
        font-size: 18px;
        line-height: 21.60px;
    }

    .corusel-content-3 {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 335px;
        overflow: hidden;
    }

    .stages {
        position: absolute;
        width: 335px;
        height: 300px;
        left: 0px;
        top: 324px;
        background: #D9D9D9;
        overflow: hidden;
    }

    .background-stages {
        position: absolute;
        width: 448px;
        height: 886px;
        left: -28px;
        top: 340px;
        background: url(../img/body/content-3/background\(6\,7\).png);
        opacity: 0.8;
        transform: rotate(-90deg);
        pointer-events: none;
        transform-origin: 0 0; 
        box-shadow: 5px 4px 12.699999809265137px rgba(0, 0, 0, 0.25); 
    }

    .roughness-stages {
        position: absolute;
        width: 1066px;
        height: 489px;
        left: -230px;
        top: -140px;
        background: url(../img/body/content-3/roughness\(1\,2\,3\,4\,5\,7\).png);
        mix-blend-mode: color-burn;
        pointer-events: none;
    }

    .contents-3 {
        min-width: 335px;
        flex-shrink: 0;
        display: none;
    }

    .contents-3.active {
        display: block;
    }

    .content-3-1 {
        width: 291px;
        left: 20px;
        top: 62px;
    }

    .content-3-2 {
        width: 291px;
        left: 20px;
        top: 178px;
    }

    .content-3-3 {
        width: 335px;
        left: 20px;
        top: 62px;
    }

    .content-3-4 {
        width: 295px;
        height: 44px;
        left: 20px;
        top: 62px;
    }

    .content-3-5 {
        width: 295px;
        height: 66px;
        left: 20px;
        top: 178px;
    }

    .content-3-6 {
        width: 335px;
        height: 300px;
        left: 20px;
        top: 62px;
    }

    .content-3-7 {
        width: 335px;
        height: 300px;
        left: 20px;
        top: 62px;
    }

    .content-3-1 span, .content-3-2 span, .content-3-3 span, .content-3-4 span, .content-3-5 span, .content-3-6 span, .content-3-7 span {
        width: 243px;
        left: 52px;
        top: 0px;
        font-size: 18px;
        line-height: 21.60px;
        }

    .numbers-content-3 {        
        left: 0px;
        top: 0px;
        display: inline-flex;
    }

    .buttons-content-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 652px;
    }

    .prev-button-content-3, .next-button-content-3 {
        width: 44px;
        height: 44px;
    }

    .counter-content-3 {
        display: flex;
        gap: 6px;
    }

    .counter-content-3 svg {
        fill: #D9D9D9;
    }

    .counter-content-3 .active {
        fill: #313131;
    }

    .background-content-3-1, .background-content-3-2, .background-content-3-3, .background-content-3-4, .background-content-3-5, .background-content-3-6, .background-content-3-7 {
        display: none;
    }

    .roughness-content-3-1, .roughness-content-3-2, .roughness-content-3-3, .roughness-content-3-4, .roughness-content-3-5, .roughness-content-3-6, .roughness-content-3-7 {
        display: none;
    }

    .image-content-3 {
        width: 335px;
        height: 182px;
        left: 0px;
        top: 196px;
    }

    /* Content 4 */

    .content-4 {
        width: 335px;
        height: 584px;
        top: 3561px;
    }

    .header-content-4 {
        font-size: 36px;
        line-height: 110%;
    }

    .buttons-content-4 {
        left: 50%;
        transform: translateX(-50%);
        top: 548px;
    }

    .carousel-participants {
        top: 31.25px;

    }

    .participants {
        width: 335px;
    }

    .avatar {
        width: 244px;
        height: 244px;
    }

    .names-participants {
        line-height: 120%;
    }

    .achievements-participants {
        font-size: 20px;
        line-height: 120%;
    }

    .more-detailed-practicant span {
        font-size: 16px;
        line-height: 120%;
    }

}

@media (max-width: 768px) {

    .head {
        height: 774px;
    }

    .logo {
        width: 213px;
        height: 32px;
        left: 5.33%;
        top: 18px;
    }

    .logo-img {
        width: 79.5px;
        height: 27px;
        top: 2px;
    }

    .logo-span {
        width: 128px;
        height: 32px;
        left: 85px;
        top: 0;
        font-size: 14.4176px;
    }

    .head-img {
        width: 900.01px;
        height: 812px;
        top: 0px;
    }

    .head-chess {
        display: none;
    }

    .head-chess-mobile {
        display: block;
        position: absolute;
        width: 375px;
        height: auto;
        top: 383.59px;
    }

    .content {
        width: 335px;
        height: 393px;
        left: 5.33%;
        top: 90px;
    }

    .headline {
        width: 335px;
        height: 160px;
    }

    .headline-span-1, .headline-span-2, .headline-span-3 {
        font-size: 36px;
        line-height: 110%;
    }

    .headline-span-1 {
        width: 335px;
    }

    .headline-span-2 {
            left: 43.25px;
            top: 80px;
    }

    .headline-span-3 {
        width: 335px;
        top: 120px;
    }

    .btns {
        width: 335px;
        height: 108px;
        left: 5.33%;
        top: 285px;
        gap: 0;
    }

    .button-1 {
        top: 0;
    }

    .button-1, .button-2 {
        padding: 18px 20px;
        position: absolute;
        width: 335px;
        height: 47px;
    }

    .button-2 {
        top: 61px;
        background: white;
        border: none;
        /* box-sizing: border-box; */
    }

    .button-1 span, .button-2 span {
        width: 249px;
        font-size: 16px;
        line-height: 130%;
        word-wrap: break-word;
    }

    .title-description {
        text-align: left;
        width: 335px;
        height: 69px;
        left: 5.33%;
        top: 184px;
    }

    .running-line-wrapper, .running-line-wrapper-lower {
        height: 38px;
        padding: 10px 12px; 
        display: flex;
        align-items: center;
    }

    .running-line span, .running-line-lower span {
        font-size: 16px;
        line-height: 110%;
    }

    .footer {
        top: 4322px;
        height: 214px;
    }

}